<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.methleshkoshle.karmathfinal">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.methleshkoshle.karmathfinal.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.methleshkoshle.karmathfinal.MainActivity2"
            android:label="कर्मठ"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.AgyatActivity"
            android:label="अज्ञात"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.BhagwanActivity"
            android:label="भगवान"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.DardActivity"
            android:label="दर्द"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.DostiActivity"
            android:label="दोस्ती"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.GuruActivity"
            android:label="गुरु"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.LaganActivity"
            android:label="लगन"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.PrernaActivity"
            android:label="प्रेरणा"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.PyaarActivity"
            android:label="प्रेम"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.TyagActivity"
            android:label="त्याग"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.SongActivity"
            android:label="गीत"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.ThoughtActivity"
            android:label="आज का विचार"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.FavoriteActivity"
            android:label="प्रिय"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.AboutmeActivity"
            android:label="एप्लिकेशन के बारे में"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.WriteActivity"
            android:label="समीक्षा लिखें"
            android:parentActivityName="com.methleshkoshle.karmathfinal.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
    </application>

</manifest>